html {
  background: url('site.png');
  background-size: 16px;
  text-align: center;
  border: 4px solid red;
  font-family: "AR-DESTINE";
}

h1 {
  color: white;
}

a:link, a:visited {
  background: url('dreek16designer.com/button.png');
  background-size: 16px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background: url('dreek16designer.com/active.png');
  background-size: 16px;
}

nav {
  background: url('nav.png');
  background-size: 16px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
}
