RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
<Files secret/stuff.html>
AuthName "Dialog prompt"
AuthType Basic
AuthUserFile https://dreek16designer.com/.htpasswd
Require valid-user
</Files>
