html {
  padding: 5px;
  background: #2C3B4D;
  background-size: 16px;
}
main {
  background: #2C3B4D;
  margin-left: 300px;
}
center {
  margin-left: 0px;
  text-align: center;
}
button {
  cursor: pointer;
}
nav {
  color: white;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
}
hr { 
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 
br {
  user-select: none;
}
hr {
  user-select: none;
}
iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}
