html {
  text-align: center;
  background: #327D48;
  color: #002D03;
  background-size: 16px;
  font-family: "ARDESTINE";
}
h1 {
  color: white;
}
a:link, a:visited {
  color: #00A6FF;
  text-decoration: none;
  display: inline-block;
}
button {
  cursor: pointer;
}
nav {
  padding: 15px;
  text-align: center;
  background: #393F6E;
  background-size: 16px;
  color: white;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
}
.grisgame {
  color: green;
  width: 128;
  height: 128;
  cursor: pointer;
  text-align: center;
  background: url('gris.ico');
  background-size: cover;
  float: center;
}
.gungame {
  color: red;
  width: 128;
  height: 128;
  cursor: pointer;
  text-align: center;
  background: url('gun.ico');
  background-size: cover;
  float: center;
}
hr { 
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 
code {
  color: white;
  float: left;
}
br {
  user-select: none;
}
hr {
  user-select: none;
}
img {
  user-select: none;
  cursor: url('https://dreek16designer.com/griscur.png');
}
iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}
